   body {
      background: linear-gradient(135deg, #f0fafa 0%, #d1f2f2 100%);
      font-family: 'Segoe UI', Tahoma, sans-serif;
      padding: 30px;
    }
    .card {
      border-radius: 20px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    }
    .card-header {
      background: linear-gradient(135deg, #1e5f5f, #4ebcbc);
      font-weight: bold;
      font-size: 24px;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 15px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    table thead th {
      background: #1e5f5f;
      color: white;
      text-align: center;
    }
    table tbody td {
      text-align: center;
    }
    .btn-custom {
      background: linear-gradient(135deg, #1e5f5f, #4ebcbc);
      color: white;
      font-weight: bold;
      border-radius: 25px;
      padding: 10px 40px;
      border: none;
    }
    .btn-custom:hover {
      background: #155a5a;
    }
    .form-control {
      text-align: center;
    }
    #successMessage {
      color: red;
      font-weight: bold;
      margin-top: 10px;
      display: none;
    }

table thead  th {
  background: linear-gradient(135deg, #4ebcbc, #ffffff);
  font-weight: 600;
  color: #155a5a;
  border-left: 2px solid #d1eeee;
}

table tbody tr td:first-child {
  background: linear-gradient(135deg, #e0f7f7, #f9ffff);
  font-weight: 600;
  color: #155a5a;
  border-left: 2px solid #d1eeee;
}
table tbody tr td {
  background: linear-gradient(135deg, #e0f7f7, #f9ffff);
  font-weight: 600;
  color: #155a5a;
  border-left: 2px solid #d1eeee;
}